{% load staticfiles %}
<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mini reddit by using Django">
    <meta name="author" content="James W. Lee">
    <link rel="icon" href="../../favicon.ico">
    <title>Mini-Reddit</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form class="form-signin" name="LoginForm" action="/login/" method="post">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">{{state}}</h2>
                    <!-- Input Username -->  
                    <div>
                        <label for="inputUsername" class="sr-only">Username</label>
                        <input type="username" name="username" id="username" class="form-control" placeholder="Username" required>
                        <p class="help-block"></p>
                    </div>
                    <!-- Input Password -->  
                    <div>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                        <p class="help-block"></p>
                    </div>
                    <!-- Link to reset password -->  
                    <div>
                     	<p class="text-left"><a href="/reset/password_form/">Forgot password?</a></p>
                    </div>
                    <!-- Check box to remeber -->  
                    <div>
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
