.navbar-header{
    padding-left:10px;
}

#nav-right li{
    padding-right:10px;
}

.pull-right
{
    margin-top:1%;
}
.post .pull-right
{
    margin-top:0%;
}
.post a {
    color:inherit;
}
.post {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.post-green {
    border-color: #80D651;
}
.post-green>strong {
    color: #80D651;
}
.post-blue {
    border-color: #45ABCD;
}
.post-blue>strong {
    color: #45ABCD;
}
.post-yellow {
    border-color: #FEAF20;
}
.post-yellow>strong {
    color: #FEAF20;
}
.post-red {
    border-color: #d73814;
}
.post-red>strong {
    color: #d73814;
}

