{% extends "main.html" %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8" style="padding-top:5%;text-align: center;">
            <div class="well">
                <h3>
                <b>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly."</b>
            	</h3>
                <hr>
                <p>"If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder."</p>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}
